{% extends "admin/admin-base.html.twig" %}
{% block title %}
	Dashboard
	{{ parent() }}
{% endblock %}

{% block main %}
	<main>
		<h2>Bonjour
			{{admin.user_name}}
		</h2>
	</main>
	<sectionb class="dashboard">
		<ul class="dashboard-item">
			<li>
				<a href="">Consulter les estimate</a>
			</li>
			<li>
				<a href="">Voir les demandes de donctacts</a>
			</li>
			<li>
				<a href="">Gèrer ma page Réalisations</a>
			</li>
			<li>
				<a href="">Gèrer ma page Services</a>
			</li>
			<li>
				<a href="">Déconnexion</a>
			</li>
		</ul>
	</section>
{% endblock %}
