{% extends "admin/admin-base.html.twig" %}
{% block title %}
	Admin_connexion
	{{ parent() }}
{% endblock %}

{% block main %}
	<main class="login-form">
		{% if session['error-message'] is defined %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ session['error-message'] }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}

		<h2>Se connecter</h2>
		<form id="login" action="index.php?route=check-login" method="POST">
			<input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}">
			<fieldset class="login-fieldset">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" placeholder="exemple@andré.com"  autocomplete="email">
				<p class="error" id="emailError"></p>

				<label for="password">Mot de passe</label>
				<input type="password" id="password" name="password" placeholder="Tapez votre mot de passe" autocomplete="current-password">
				<p class="error" id="passwordError"></p>
			</fieldset>
			<fieldset>
				<button type="submit" class="cta">Connexion</button>
			</fieldset>
		</form>
	</main>
{% endblock %}
