/************************************************************/
/*                                                          */
/*                      RESET CSS                           */
/*    src : https://meyerweb.com/eric/tools/css/reset /     */
/*    v2.0 | 20110126                                       */
/*    License: none (public domain)                         */
/*                                                          */                                 
/************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*******************************************************************************************************************************************/
/****************************************************/
/*                                                  */
/*                    GÉNÉRAL                      */
/*                                                  */
/****************************************************/

/* **************************/
/*      DARK/LIGHT MODE     */
/****************************/

/* dark-mode colors */
/* .dark-mode-black {
  background-color: #000;
}
.dark-mode-golden {
  background-color: #bf9000;
}
.dark-mode-white-text {
  color: #fff;
} */

/* light-mode colors */
/* .light-mode {
  background-color: #fff;
}
.light-mode-black-text {
  color: #000;
} */


body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 100;
  line-height: 1.6;
  font-family: "Manrope", sans-serif !important;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  color: #0a0a0a;
  box-sizing: border-box;
}

main {
  padding: 3rem 15rem 3rem 15rem;
  border-style: solid;
  border-color: #bf9000;
  border-width: 0 8.2rem 0 8.2rem;
}

section, article {
  padding: 0 2rem 0.8rem 2rem;
}

a {
  color: #bf9000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: #0a0a0a;
  font-size: 1.7rem;
  font-weight: bold;
}

h1, h2 {
  text-align: center;
}

 h2.custom-h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
}

h3, h4 {
  color: #92652a;
  padding-bottom: 1rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

p.red {
  color: red;
}

ul, li {
  list-style: none;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.center {
  text-align: center;
}

.media-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;

}

img.border-radius {
  border-radius: 30px;
}

.active-box-shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

/*************************/
/*        Bouton         */
/*************************/
.cta {
  display: inline-block;
  align-items: center;
  background: linear-gradient(rgb(119, 61, 20), #563b09cf);
  color: white;
  border-radius: 50px;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: "Manrope", sans-serif !important;
}

.cta:hover {
  background: linear-gradient(#ae7326, #7d3d18); 
  text-decoration: none;
}

/*******************************************************************************************************************************************/
/****************************************************/
/*                                                  */
/*             base.html.twig                       */
/*                                                  */
/****************************************************/

/****************************************************/
/*                    Header                        */
/****************************************************/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 8rem !important;
  width: 100%;
  background-color: #0a0a0a;
  color: #bf9000;
  font-weight: bold;
  opacity: 0.95;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, .5);
}


header:hover {
  opacity: 1;
}


header li {
  padding: 1.2rem;
}

.header_logo {
  display: flex;
  position: fixed;
  left: 0;
  height: 8.1rem;
}

ul.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

li.menu_item {
  display: flex;
  align-items: center;
  position: relative;
}

li.menu_item a {
  color: #d9a737;
  text-decoration: none;
  font-size: 1rem;
  padding: 2rem;
  display: flex;
    align-items: center;
}

li.menu_item a:hover {
  opacity: 0.7;
  color: white;
  text-decoration: underline;
}
/*******************************************/
/*        STYLES POUR LE SOUS-MENU        */
/*****************************************/
ul.sub_menu {
  display: none;
  position: absolute;
  left: -40px;
  top: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  white-space: nowrap; /* Empêche l'élément de se diviser en plusieurs lignes */
  color: #0a0a0a;
}

li.menu_item:hover ul.sub_menu {
  display: block;
}

.sub_menu li {
  margin-bottom: 0.5rem;
}

ul.sub_menu li a {
  font-size: 1rem;
  color: #0a0a0a;
}

ul.sub_menu li a:hover {
  color: #bf9000;
  font-size: 1rem;
}
/*********************************************/
/*        RÉACTIVITÉ DU MENU (MOBILE)       */
/*******************************************/
@media (max-width: 768px) {
  .burgerMenu {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #dead6d;
  }

  .nav.open {
    display: flex;
  }

  .nav_menu {
    flex-direction: column;
  }

  .nav_menu_item {
    text-align: center;
    padding: 1rem 0;
  }

  .dropdown_menu {
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}
/****************************************************/
/*                    Footer                        */
/****************************************************/
footer {
  background-color: #0a0a0a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #bf9000;
}

footer section {
  display: grid;
  border-right: 1px solid #bf9000;
  text-align: justify;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
}

footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer a:hover {
  color: #f5f5f5;
  text-decoration: underline;
}

footer p, footer a {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

section.adress {
  align-content: center;
  justify-items: start;
}

section.social_media {
  align-content: center;
  justify-items: start;
}

.bold {
  font-weight: bold;
}
  
/*************************/
/*       Horraires      */
/***********************/
.bold.center {
  text-align: center;
} 

table {
  background-color: #f5f5f5;
  text-align: center;
  /* width: 100%; */
  border-collapse: separate;
  border-spacing: 0; 
  border-radius:10px; 
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  
}

caption {
  padding: 1rem;
}

td, th {
  padding: 0.8rem;
  margin: 1rem;
  border: 1px solid #bf9000;
  font-size: 1rem;
  align-content: center;
}

th {
  font-size: 1.1rem;
  font-weight: bold;
}

body > footer > section.horaires > table > tbody > tr:nth-child(1) > td:nth-child(1){
  border-top-left-radius: 10px;
  padding-top: 1rem;
}

body > footer > section.horaires > table > tbody > tr:nth-child(1) > td:nth-child(2){
  border-top-right-radius: 10px;
  padding-top: 1rem;

}

body > footer > section.horaires > table > tbody > tr:nth-child(7) > td:nth-child(1){
  border-bottom-left-radius: 10px;
  padding-bottom:1rem 
}

body > footer > section.horaires > table > tbody > tr:nth-child(7) > td:nth-child(2){
  border-bottom-right-radius: 10px;
  padding-bottom:1rem ;
}
/*******************************************************************************************************************************************/
/****************************************************/
/*                                                  */
/*                    home.html.twig                */
/*                                                  */
/****************************************************/
section.section_cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.home h1 {
  color: #bf9000;
  font-size: 2rem;
  font-weight: bold;
}

.home h2 {
  color: #bf9000;
  font-size: 1.5rem;
  font-weight: bold;
}

section.legal-notices h2, section.legal-notices h3 {
  text-align: justify;
  padding: 1.2rem;
}

/*******************************************************************************************************************************************/

/****************************************************/
/*                                                  */
/*                   services.html.twig             */
/*                                                  */
/****************************************************/
main.service {
  margin: 3rem;
  line-height: 1.7rem;
  padding: 1rem;
}

.service article {
  padding: 0.5rem;
}

.service section{
  padding: 1rem;
}

.service p {
  padding: 0;
  font-size: 1.1rem;
} 

.service li {
  font-size: 1.1rem;
  list-style: inside;
  text-align: left;
  line-height: 2rem;
}

.service a {
  font-size: 1.1rem;
}

.serevice ul li {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
/*******************************************************************************************************************************************/

/****************************************************/
/*                                                  */
/*            realisations.html.twig                */
/*                                                  */
/****************************************************/

section.center_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.realisations h4 {
  color: rgba(163, 99, 22, 0.669)
}

#content > article:nth-child(8) > p {
text-align: center;
}
/****************************************************/
/*             SLIDER AVANT - APRES                 */
/****************************************************/
section.container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
  margin-bottom: 2rem; 
}

.image-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px; 
  height:600px; 
  aspect-ratio: 16/9;
}


.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* S'assure que l'image couvre toute la zone du conteneur */
  object-position: center;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position); /* La largeur de l'image avant est définie par le slider */
  height: 100%; /* Même hauteur que l'image après */
  filter: grayscale(100%);
}

.slider {
  position: absolute;
  inset: 0;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.slider-line {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #fff;
  z-index: 11;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #fff;
  padding: .5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  z-index: 12;
  pointer-events: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/*******************************************************************************************************************************************/
/****************************************************/
/*                                                  */
/*                estimate.html.twig                */
/*                                                  */
/****************************************************/



/*        Formulaires      */
/***************************/
main.estimate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.estimate-form {
  display: flex;
  flex-direction: column;
  background-color: #dead6a;
  border-radius: 15px;
  align-items: center;
  box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.estimate-form legend {
  font-weight: bold;
  color: #0a0a0a;
}
.estimate-form fieldset {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #dead6a;
  border-radius: 15px;
  width: 80%;
  border: 1px solid white;
  margin: 1rem;
}

.estimate-form label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.estimate-form input {
  border: none;
  display: flex;
  border-radius: 5px;
  font-size: 1.1rem;
}

.estimate-form input[type="date" i] {
  height: 1.8rem;
  cursor: text;
  margin: 0.7rem;
}

.estimate-form fieldset input[type="text"],  input[type="number"], input[type="email"],input[type="tel"] {
  width: 15rem;
  height: 1.6rem;
} 

.estimate-form input[type="file" ] {
  padding: 0.7rem;
}

.estimate-form textarea {
  align-self: center;
  display: flex;
  height: 10rem;
  width: 30rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  }

.user {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

/*******************************************************************************************************************************************/
/****************************************************/
/*                                                  */
/*                contact.html.twig                 */
/*                                                  */
/****************************************************/
main.contact {
  margin: 2rem;
}

/*        Formulaires      */
/***************************/
form.contact-form  {
  display: flex;
  color: #0a0a0a;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.contact-form fieldset {
display: flex;
flex-direction: column;
padding: 1rem;
background-color: #dead6a;
border-radius: 5px;
align-items: center;
width: auto;
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.contact-form input {
height: 1.7rem;
width: 50%;
border: none;
border-radius: 5px;
margin-bottom: 1rem;
}

.contact-form textarea {
height: 10rem;
width: 30rem;
border: none;
border-radius: 5px;
}

.contact-button {
  padding: 2rem 0 1rem 0;
}
/*******************************************************************************************************************************************/
/****************************************************/
/*                                                  */
/*                       ADMIN                      */
/*                                                  */
/****************************************************/
div.btn-back-dashboard {
  display: flex;
}

.back-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  color: #0a0a0a;
  font-size: 1.2rem;
  text-decoration: none;
}

.back-btn:hover {
  color: #bf9000;
  text-decoration: underline;
} 

.add-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  /* color: #bf9000; */
  font-size: 1.1rem;
  text-decoration: none;
}

/****************************************************/
/*                   **Login**                      */
/****************************************************/
#login {
  display: flex;
  background-color: #dead6a;
  height: 20rem;
  width: 30rem;
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

main#loginForm {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

fieldset{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login label{
  padding: 0.5rem;
  font-weight: bold;
}

input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}
/****************************************************/
/*                   Dashboard                      */
/****************************************************/
section.dashboard {
  background-color: #d9a737;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 3rem;
}

div.title {
  padding-top: 1rem;}

.title h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #0a0a0a;
}

nav.items {
  background-color: #9ea2a8;
  width: 40rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

ul.dashboard-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30rem;
  align-content: stretch;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

ul.dashboard-item li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
}

ul.dashboard-item li a {
  color: #0a0a0a;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}

ul.dashboard-item li a:hover {
  color: #f5f5f5;
  text-decoration: underline;
}

main.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*******************************************************************************************************************************************/
/****************************************************/
/*                   Realisation                    */
/****************************************************/
/* realisation-list.html.twig */
main.admin-realisation {
  padding: 2rem;
  border-width: 0;
  background-color: #bf9000;
}

main.admin-realisation td> img {
  height: 150px;
  width: 150px;
}
.admin-realisation p {
  margin : auto;
  text-align: center;
}

main.admin-realisation h2 {
  text-align: center;
  color: #0a0a0a;
  font-weight: bold;
  font-size: 1.4rem;
}

td .real_edit_btns {
  text-align: center;
  margin : 0
}
td .real_edit_btns a i {
  text-decoration: none;
  color : #bf9000;
  text-align: center;
}
td .real_edit_btns a:first-of-type i {
  margin-bottom : 1rem
}

table.realisation-table th,td  {
  border: 1px solid #0a0a0a;
}

/*******************************************************************************************************************************************/
/****************************************************/
/*                     Service                      */
/****************************************************/
main.admin-service {
  padding: 2rem;
  border-width: 0;
  background-color: #bf9000;
}

main.admin-service td> img {
  height: 150px;
  width: 150px;
}

main.admin-service h2 {
  text-align: center;
  color: #0a0a0a;
  font-weight: bold;
  font-size: 1.4rem;
}


main.admin-service p {
  margin : auto;
  text-align: center;
}



table.service-table> th,td  {
  border: 1px solid #0a0a0a;
}


/*******************************************************************************************************************************************/
/****************************************************/
/*                   Estimate                       */
/****************************************************/

/*******************************************************************************************************************************************/
/****************************************************/
/*                     Contact                      */
/****************************************************/