{% extends "base.html.twig" %}

{% block title %}
	Contact
	{{ parent() }}
{% endblock %}

{% block main %}
<main>
	<h2>Parlons de votre projet</h2>
		<fieldset>
			<form method="get" action="#">
				<div class="form-nom-email">
					<div class="form-column">
						<label for="nom">Nom/Prénom</label>
						<input type="text" name="nom" id="nom" required>
					</div>

					<div class="form-column">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" required>
					</div>
				</div>
				<label for="message">Votre message</label>
				<textarea name="message" id="message" rows="10" required></textarea>
				<input type="submit" value="ENVOYER" class="cta">
			</form>
		</fieldset>
</main>
{% endblock %}
