{% extends "admin/base-admin.html.twig" %}

{% block title %}
	Nouvelle prestation
	{{ parent() }}
{% endblock %}

{% block main %}
	<main id="newService_show">
		<a class="back-btn" href="index.php?route=list-services"><img src="assets\img\logo\icons8-go-back-64.png" alt="boutton back retour au tableau de bord"></a>
		<form class="serviceAdminForm" action="index.php?route=check-service-creation" method="post" enctype="multipart/form-data">
			<input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}"/>
			<label for="title">Titre</label>
			<input type="text" id="title" name="title" required="required">
			<label for="intro">Introduction (1024 caractères max)</label>
			<textarea id="intro" name="intro" maxlength="1024" required="required"></textarea>
			<label for="description">Description (2047 caractères max)</label>
			<textarea id="description" name="description" maxlength="2047" required="required"></textarea>
			<label for="picture">Ajouter des images :</label>
			<input type="file" name="picture1" id="picture" accept="picture/*"/><br/>
			<input type="file" name="picture2" id="picture" accept="picture/*"/><br/>
			<input type="file" name="picture3" id="picture" accept="picture/*"/><br/>
			<input type="file" name="picture4" id="picture" accept="picture/*"/><br/>
			<button type="submit">Poster</button>
			{%  if  message is defined %}
				<p class="serviceFormOKMessage">{{ message }}</p>
			{% endif %}
		</form>
		<a class="back-btn" href="index.php?route=list-services"><img src="assets\img\logo\icons8-go-back-64.png" alt="boutton back retour au tableau de bord"></a>
	</main>
{% endblock %}
